Repository Mark1708/spring-boot-github-actions-example, changes with the labels that .github/labeler.yml gives for each.
All labels: theme:build, theme:code, theme:tests, theme:documentation, theme:TRASH

.github/labeler.yml:

theme:build:
  - ".github/**"
  - "pom.xml"
  - ".travis.yml"
  - ".gitignore"
  - "Dockerfile"

theme:code:
  - "src/main/*"

theme:tests:
  - "src/test/*"

theme:documentation:
  - "docs/**"
  - "README.md"

theme:TRASH:
  - ".idea/**"
  - "target/**"

Create deploy.yml
  .github/workflows/deploy.yml
Labels: theme:build

add badges
  .github/workflows/basics.yml
  README.md
Labels: theme:build, theme:documentation

fix badges
  README.md
Labels: theme:documentation

Update deploy.yml
  .github/workflows/deploy.yml
Labels: theme:build

Update build.yml
  .github/workflows/build.yml
Labels: theme:build

Update sonar.yml
  .github/workflows/sonar.yml
Labels: theme:build

add controller test and fix service test
  src/test/java/com/example/springbootapp/person/PersonServiceTest.java
Labels: none

Update sonar.yml
  .github/workflows/sonar.yml
Labels: theme:build

fix tests
  src/test/java/com/example/springbootapp/person/PersonControllerTest.java
Labels: none

fix tests
  src/test/java/com/example/springbootapp/person/PersonServiceTest.java
  src/test/resources/application.properties
Labels: none

fix jacoco version
  pom.xml
Labels: theme:build

Update sonar.yml
  .github/workflows/sonar.yml
Labels: theme:build

fix sonar
  .github/workflows/sonar.yml
  pom.xml
Labels: theme:build

fix sonar
  .github/workflows/sonar.yml
Labels: theme:build

Delete sonar.yml
  .github/workflows/sonar.yml
Labels: theme:build

Create sonar.yml
  .github/workflows/sonar.yml
Labels: theme:build

Update sonar.yml
  .github/workflows/sonar.yml
Labels: theme:build

beautify workflows
  .github/workflows/deploy.yml
  .github/workflows/label-verify.yml
  .github/workflows/labeler.yml
  .github/workflows/release-draft.yml
  .github/workflows/sonar.yml
Labels: theme:build

beautify workflows
  .github/workflows/sonar.yml
Labels: theme:build

fix pom.xml
  pom.xml
Labels: theme:build

beautify workflows
  pom.xml
Labels: theme:build

Update pom.xml
  pom.xml
Labels: theme:build

Update build.yml
  .github/workflows/build.yml
Labels: theme:build

modify Person
  .github/workflows/build.yml
  src/main/java/com/example/springbootapp/person/Person.java
Labels: theme:build

modify tests
  pom.xml
Labels: theme:build

modify tests
  src/test/java/com/example/springbootapp/person/PersonRepositoryTest.java
Labels: none

modify tests
  pom.xml
Labels: theme:build

modify lombok config and merge main
  lombok.config
Labels: none

modify Person
  src/main/java/com/example/springbootapp/person/Person.java
Labels: none

Update README.md
  README.md
Labels: theme:documentation

Update README.md
  README.md
Labels: theme:documentation

Update README.md
  README.md
Labels: theme:documentation

Add files via upload
  reports.png
Labels: none

Update README.md
  README.md
Labels: theme:documentation

Create main.yml
  .github/workflows/main.yml
Labels: theme:build

Update deploy.yml
  .github/workflows/deploy.yml
Labels: theme:build

modify pom
  pom.xml
Labels: theme:build

add check style
  .springjavaformatconfig
  pom.xml
  src/main/java/com/example/springbootapp/SpringBootAppApplication.java
  src/main/java/com/example/springbootapp/person/NotFoundException.java
  src/main/java/com/example/springbootapp/person/Person.java
  src/main/java/com/example/springbootapp/person/PersonController.java
  src/main/java/com/example/springbootapp/person/PersonRepository.java
  src/main/java/com/example/springbootapp/person/PersonService.java
  src/test/java/com/example/springbootapp/person/PersonControllerTest.java
  src/test/java/com/example/springbootapp/person/PersonRepositoryTest.java
  src/test/java/com/example/springbootapp/person/PersonServiceTest.java
  src/test/java/com/example/springbootapp/utils/PersonServiceUtils.java
Labels: theme:build
